<template>
  <main>
    <h1>Plan your food</h1>
    <v-date-picker v-model="dates" is-range class="padded" />
    <a class="clickable padded" :href="link" @click="goPlan" v-show="link">plan!</a>
  </main>
</template>

<script>
  export default {
    data() {
      const today = new Date()
      const week = (new Date()).setDate(today.getDate() + 6)
      return {
        _dates: {start: today.setDate(today.getDate()), end: week}
      }
    },
    computed: {
      dates: {
        get() {
          return this._dates
        },
        set(newValue) {
          // console.log(newValue)
          // if ((newValue.end - newValue.start) / 1000 / 60 / 60 / 24 > 7) {
          //   newValue.end.setDate(newValue.start.getDate() + 7)
          // }
          newValue.start = newValue.start.setDate(newValue.start.getDate() + 0)
          newValue.end = newValue.end.setDate(newValue.end.getDate() + 0)
          this._dates = newValue
        }
      },
      tooManyDays() {
        if (!this.dates) return false
        const span = Math.abs((this.dates.end - this.dates.start) / (1000*60*60*24))
        if (span >= 7) return true
        return false
      },
      link() {
        if (!this.dates || this.tooManyDays) return null
        console.log('link')
        return this.$router.resolve({name: 'week', query: this.dates}).href
      }
    },
    methods: {
      goPlan() {
        console.log(evt)
      }
    }
  }
</script>

<style scoped>
  main {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  h1 {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 10px;
  }
  .padded {
    padding: 10px;
  }
  button {
    font-size: 2em;
  }
</style>
