<template>
  <main>
    <PlanDay v-for="day in days" :day="day" @open-dish="openDish" @new-dish="newDish" @open-day="openDay" @delete-dish="deleteDish" />
    <WeekResultsLinkCard @open="openWeek" />
    <Modal v-model="showModal" @update:modelValue="n => showModal = n" >
      <ResultsPanel v-if="currentDate || showWeekResult" :date="currentDate" :dates="dates" :data="resultsProducts" />
      <DishPanel v-if="currentDish" :dish=currentDish @add-ingredient="addIngredient" @edit-ingredient="editIngredient" @remove-ingredient="removeIngredient" @edit-name="editName" />
    </Modal>
  </main>
</template>

<script setup>
import Modal from '@/components/Modal.vue'
import PlanDay from '@/components/PlanDay.vue'
import ResultsPanel from '../components/ResultsPanel.vue';
import DishPanel from '../components/DishPanel.vue';
import WeekResultsLinkCard from '../components/WeekResultsLinkCard.vue';
</script>

<script>
  import { useDishesStore } from '@/stores/dishes'
  import { mapStores } from 'pinia'
  import storage from '@/core/utils/stotage.js'
  
  export default {
    data() {
      return {
        currentDish: null,
        currentDate: null,
        showWeekResult: false,
      }
    },
    mounted() {
      const dates = this.$route.query
      if (!dates.start || !dates.end) return this.$router.push({name: 'home'})
      const span = Math.abs((dates.end - dates.start) / (1000*60*60*24))
      if (span >= 7) return this.$router.push({name: 'home'})

      const dishes = storage.getDishes()
      if (dishes) {
        this.dishesStore.setDishes(dishes)
      } else {

      }

      this.$http.get('/dishes', {params: dates})
        .then(response => (this.dishesStore.setDishes(response.data)))
        .catch(e => {if (!dishes) this.dishesStore.setFakeDishes()})

    },
    methods: {
      openDish({dish, day}) {
        console.log('open', dish)
        this.currentDish = dish
      },
      newDish(date) {
        const d = date.day
        this.currentDish = {
          "name": "_",
          "day": d.getFullYear() + '-' + String(d.getMonth() + 1).padStart(2, '0') + '-' + String(d.getDate()).padStart(2, '0'),
          "dish_ingredients": [
          ],
          "url": ""
        }
        this.dishesStore.addDish(this.currentDish)
        console.log(this.dishes)
      },
      deleteDish({dish, day}) {
        console.log('delete dish')
        this.dishesStore.removeDish(dish)
      },
      openDay(day) {
        this.currentDate = day.day
      },
      openWeek() {
        this.showWeekResult = true
      },
      editName(name) {
        console.log('edit name')
        this.dishesStore.updateDish(this.currentDish, {name: name})
      },
      addIngredient(name) {
        this.dishesStore.addIngredient(this.currentDish, name)
      },
      editIngredient({old, updated}) {
        this.dishesStore.updateIngredient(this.currentDish, {old, updated})
      },
      removeIngredient(ingredient) {
        this.dishesStore.removeIngredient(this.currentDish, ingredient)
      }
    },
    computed: {
      ...mapStores(useDishesStore),
      dishes() {
        return this.dishesStore.dishes
      },
      showModal: {
        get() {
          if (this.currentDate || this.currentDish || this.showWeekResult) return true
          return false
        },
        set(newValue) {
          if (newValue == false) {
            this.currentDate = null
            this.currentDish = null
            this.showWeekResult = false
          }
        }
      },
      dates() {
        const start = new Date(Number.parseInt(this.$route.query.start))
        start.setHours(0, 0, 0, 0)
        const end = new Date(Number.parseInt(this.$route.query.end))
        end.setHours(0, 0, 0, 0)
        return {start, end}
      },
      days() {
        console.log('days')
        return this.dishesStore.byDays(this.dates)
      },
      resultsProducts() {
        if (this.currentDate) {
          return this.dishesStore.totalProductsByDay(this.currentDate)
        }
        if (this.dates) {
          return this.dishesStore.totalProductsByDates(this.dates)
        }
        return this.dishesStore.totalProducts
      }
    }
  }
</script>

<style scoped>
  main {
    display: flex;
    flex-wrap: wrap;
  }
</style>
