<template>
  <div class="dish-panel">
    <!-- <h2 class="editable" @click="setEditName(true)" v-click-outside="setEditName">
      <template v-if="!editName">{{ dishName }}</template>
      <input class="name-edit" type="text" v-if="editName" :value="dishName" @input="updateName">
    </h2> -->
    <DynamicEditable root="h2" class="editable" :content="dishName" @update="updateName" :input-classes="['name-edit']" />
    <div class="dish-info">
      <!-- <div class="info editable">
        <p class="info-title">link:</p>
        <p><a href="https://example.com">https://example.com</a></p>
      </div>
      <div class="info editable">
        <p class="info-title">comment:</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
      </div> -->
      <ProductTable :editable="true" :ingredients="dish.dish_ingredients" @add="addIngredient" @edit="editIngredient" @remove="removeIngredient" />
    </div>
  </div>
</template>

<script setup>
import ProductTable from './ProductTable.vue';
import DynamicEditable from './DynamicEditable.vue';
</script>

<script>
export default {
  props: ['dish'],
  data() {
    return {
      editName: false
    }
  },
  mounted() {
  },
  methods: {
    setEditName(val) {
      this.editName = val
    },
    updateName(val) {
      console.log(val)
      this.$emit('editName', val)
    },
    addIngredient(name) {
      this.$emit('addIngredient', name)
    },
    editIngredient(changes) {
      this.$emit('editIngredient', changes)
    },
    removeIngredient(ingredient) {
      this.$emit('removeIngredient', ingredient)
    }
  },
  computed: {
    dishName () {
      console.log(this.dish)
      return this.dish.name || '_'
    }
  }
  // computed: {
  //     dish() {
  //         return { name: "Lasanga", dish_ingredients: [{ name: "egg", amount: 1 }] };
  //     }
  // }
}
</script>

<style scoped>
  .dish-panel {
    max-width: 90vw;
  }
  .info {
    display: flex;
    max-width: 1000px;
    justify-content: flex-start;
    align-content: flex-start;
    padding-bottom: 10px;
  }
  .info-title {
    min-width: 6em;
  }
  .dish-info {
    padding-left: 20px;
  }
</style>

<style>
  .dish-panel .name-edit {
    font-size: 1em;
  }
</style>
