<template>
  <div class="dish-item clickable" @click="open">
    <a>{{ dish.name }}</a>
    <a class="dish-item-delete" @click.stop="deleteItem">✖</a>
  </div>
</template>

<script>
  export default {
    props: ['dish'],
    methods: {
      open() {
        console.log('open!')
        this.$emit('openDish', this.dish.id)
      },
      deleteItem() {
        console.log('delete!')
        this.$emit('deleteDish', this.dish)
      }
    }
  }
</script>

<style scoped>
  .dish-item {
    position: relative;
  }
  .dish-item-delete {
    display: none;
    position: absolute;
  }

  .dish-item:hover .dish-item-delete {
    display: block;
    position: absolute;
    right: 1em;
    top: 0.25em;
    color: #ff9899;
  }
  .dish-item:hover .dish-item-delete:hover {
    color: #f55951;
  }
</style>
