<template>
  <component :is="root" v-click-outside="unsetEdit" @click="setEdit">
    <template v-if="!edit">{{content}}</template>
    <input :type="input" v-show="edit" :value="content" :class="inputClasses" @input="update" ref="input">
  </component>
</template>

<script>
  export default {
    data() {
      return {
        edit: false,
        initLock: true
      }
    },
    props: ['root', 'content', 'inputClasses', 'editState', 'type'],
    watch: {
      editState(n,o) {
        if (this.initLock) this.edit = !!n
      },
      edit(n, o) {
        if (n) setTimeout(() => this.$refs.input.focus(), 10)
      }
    },
    mounted() {
      this.edit = !!this.editState
      const self = this
      setTimeout(() => {self.initLock = false}, 100)
    },
    computed: {
      input() {
        console.log('ttyppe')
        if (this.type) return this.type
        return 'text'
      }
    },
    methods: {
      unsetEdit() {
        if (this.initLock) return
        this.edit = false
        this.$emit('finish')
      },
      setEdit() {
        this.edit = true
        this.$emit('start')
      },
      update(evt) {
        this.$emit('update', evt.target.value)
      }
    }
  }
</script>
