<template>
  <div class="day week-box">
      <h2 class="day-name clickable" @click="openDay">{{ day.name }}<sub>{{date}}</sub></h2>
      <DishListItem class="day-dish-item" v-for="item in dishes" :dish="item" @open-dish="openDish(item)" @delete-dish="deleteDish(item)" />
      <button class="centred add-dish clickable" @click="newDish">add item</button>
    </div>
</template>

<script setup>
  import DishListItem from '@/components/DishListItem.vue'
</script>

<script>
  export default {
    props: ['day'],
    methods: {
      openDish(dish) {
        this.$emit('open-dish', {dish, day: this.day})
      },
      newDish() {
        this.$emit('new-dish', this.day)
      },
      deleteDish(dish) {
        this.$emit('delete-dish', {dish, day: this.day})
      },
      openDay() {
        this.$emit('open-day', this.day)
      }
    },
    computed: {
      dishes() {
        return this.day.dishes
      },
      date() {
        console.log(this.day)
        return String(this.day.day.getDate()).padStart(2, '0') + '.'  + String(this.day.day.getMonth() + 1).padStart(2, '0')
      }
    }
  }
</script>

<style>
  .day-name {
    padding: 10px;
    font-weight: 600;
  }
  .day-name sub {
    font-weight: lighter;
    font-size: 13px;
    color: #d9d9d9;
  }
  .day-name:hover sub {
    font-weight: normal;
    color: inherit;
    top: -0.5em;
    padding-left: 1em;
  }
  .day-dish-item {
    padding: 5px 30px;
    gap: 10px;
  }
  .add-dish {
    padding: 10px;
  }
  .day.week-box {
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .day.week-box::-webkit-scrollbar {
    display: none;
  }
</style>
