<template>
  <div class="table-content">
    <table class="product-table">
      <thead>
        <tr>
          <th class="product-table-name">product</th>
          <th class="product-table-amount">amount</th>
        </tr>
      </thead>
      <template v-if="!editable">
        <tr v-for="ingredient in ingredients">
          <td :class="['product-table-name', ...classes]">
            {{ingredient.name}}
          </td>
          <td :class="['product-table-amount', ...classes]">{{ingredient.amount}}</td>
        </tr>
      </template>
      <template v-if="editable">
        <tr v-for="ingredient in ingredients">
          <DynamicEditable :class="['product-table-name', ...classes]" root="td" :content="ingredient.name" @update="editProductName($event, ingredient)" v-if="newProduct" :edit-state="ingredient.isNew || false" @finish="checkOnFinish(ingredient)" />
          <DynamicEditable :class="['product-table-amount', ...classes]" root="td" :content="ingredient.amount" type="number" @update="editProductAmount($event, ingredient)" v-if="newProduct" />
        </tr>
      </template>
      <tr v-if="editable">
        <td class="product-table-name product-table-item-new editable" @click="newIngredient">add here</td>
        <!-- <DynamicEditable class="product-table-name product-table-item-new editable" root="td" :content="newProduct.name" @update="addProduct" v-if="newProduct" /> -->
        <td class="product-table-amount product-table-item-new editable">0</td>
      </tr>
    </table>
  </div>
</template>

<script>
import DynamicEditable from './DynamicEditable.vue';
  export default {
    props: ["editable", "ingredients"],
    data() {
      return {
        newProduct: {
          name: 'add here'
        }
      }
    },
    computed: {
        classes() {
            if (this.editable)
                return ["editable"]
            return []
        }
    },
    components: { DynamicEditable },
    methods: {
      newIngredient() {
        console.log('new ingredient')
        this.$emit('add', '_')
      },
      addProduct(name) {
        console.log('new product:', name)
        this.$emit('add', name)
      },
      editProductName (val, ingredientData) {
        console.log(val, ingredientData)
        if (ingredientData.isNew) {delete ingredientData.isNew}
        this.$emit('edit', {old: ingredientData, updated: {...ingredientData, name: val}})
      },
      editProductAmount(val, ingredientData) {
        console.log(val, ingredientData)
        if (ingredientData.isNew) {delete ingredientData.isNew}
        this.$emit('edit', {old: ingredientData, updated: {...ingredientData, amount: val}})
      },
      checkOnFinish(ingredient) {
        if (!ingredient.name) this.$emit('remove', ingredient)
      }
    }
}
</script>

<style>
  
.product-table {
  display: block;
  gap: 0;
  border-spacing: 0;
  box-sizing: border-box;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-collapse: collapse;
  max-width: 100%;
  overflow-x: scroll;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.product-table::-webkit-scrollbar {
  display: none;
}
.product-table th {
  background: #d9d9d9;
}
.product-table td, .product-table th {
  border: 1px solid black;
  margin: 0;
}
.product-table-name {
  min-width: 300px;
  max-width: 80vw;
}
.product-table-amount {
  width: 5em;
}
.product-table-amount input {
  width: 5em;
}
.product-table th, .product-table td {
  padding: 10px;
  text-align: left;
}
.product-table-item-new {
  font-style: italic;
  font-weight: 100;
}
</style>