<template>
  <h2>{{ datesLine }}</h2>
  <ProductTable :ingredients="products" />
</template>

<script setup>
import ProductTable from './ProductTable.vue'
</script>

<script>
  export default {
    props: ['date', 'dates', 'data'],
    computed: {
      datesLine() {
        if (!this.dates && this.date) {
          const d = this.date
          return String(d.getDate()).padStart(2, '0') + '.' + String(d.getMonth() + 1).padStart(2, '0')
        }
        if (this.dates && !this.date) {
          console.log(this.dates)
          const d1 = this.dates.start
          const d2 = this.dates.end
          const d1_str = String(d1.getDate()).padStart(2, '0') + '.' + String(d1.getMonth() + 1).padStart(2, '0')
          const d2_str = String(d2.getDate()).padStart(2, '0') + '.' + String(d2.getMonth() + 1).padStart(2, '0')
          return d1_str + ' - ' + d2_str
        }
      },
      products() {
        console.log('products', this.data)
        return this.data
      }
    }
  }
</script>
