<template>
  <div class="results week-box">
    <h2 class="clickable" @click="$emit('open')">results</h2> 
  </div>
</template>

<style scoped>
  .results {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .results h2 {
    width: 100%;
    text-align: center;
  }
</style>