@import "./base.css";

#app {
  font-weight: normal;
}

.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  .green:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

.week-box {
  height: 50vh;
  width: 25vw;
  min-height: 200px;
  min-width: 300px;
  box-sizing: border-box;
  /* border: 1px solid red; */
}

button {
  background: none;
  cursor: pointer;
  border: 0;
  font-size: inherit;
  font-family: inherit;
}

.centred {
  margin: 0 auto;
  width: 100%;
  text-align: center;
}

.h-center {
  margin: auto;
}

.clickable:hover {
  background-color: #f5f5f5;
  cursor: pointer;
  text-decoration: underline;
  color: #543c52;
}

.editable:hover {
  background-color: #f5f5f5;
  cursor: text;
}

