<script setup>
import { RouterView } from 'vue-router'
</script>

<template>
  <RouterView />
  <div class="menu">
    <Transition>
      <div class="menu-slider" v-if="menu">
        <div class="menu-content">
          <router-link :to="{name: 'home'}" class="clickable">Home</router-link>
        </div>
      </div>
    </Transition>
    <a class="clickable burger" @click="toggle"><u>==</u></a>
  </div>
</template>

<script>
  export default {
    data() {
      return {
        menu: false
      }
    },
    watch: {
      $route(to, from) {
        this.menu = false
      }
    },
    methods: {
      toggle() {
        this.menu = !this.menu
      }
    }
  }
</script>

<style scoped>
.menu {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1000;
}
.menu .burger {
  position: fixed;
  right: 0;
  top: 0;
  font-size: 30px;
  padding: 0;
  letter-spacing: -15px;
  width: 1.5em;
  user-select:none;
}
.menu-sider {
  display: fixed;
  right: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: #f9f9f9;
}
.menu-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  font-size: 2em;
  background: #f9f9f9;
}

.v-enter-active,
.v-leave-active {
  transition: opacity 0.2s ease;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}

</style>
